body {
    background-color: bisque;
}

header, footer{
    background-color: rgb(50, 109, 168);
    border: black 1px solid;
    margin-bottom: 20px;
}

h1 {
    color: #f0f2f5;
    text-align: center;

}

nav {
    text-align: center;
}

li {
    border: black 2px solid;
    display: inline;
    background-color: #d0aae6;
    padding: 5px 10px;
    margin: 0px 20px;
}

article {
    text-align: center;
}

footer > p {
    color: #f0f2f5;

}

#ptag_color {
    color:turquoise;
}

.other_color {
    color:rgb(32, 32, 26);
}



article {
    border: solid black 1px;
    margin: 10px 0px;
}